.card {
    font-family: arial;
    font-size: 28px;
    text-align: center;
    color: black;
    background-color: white;
}

#click-show {
}

img {
    max-height: 65vh;
    max-width: 65vh;
}

.target {
    font-size: 35px;
}

.android button {
    background-color: #000000;
    border: 1px solid #909090;
    font-size: 16px;
    padding 30px 50px;
    color: white;
}
