.card {
    font-family: arial;
    font-size: 28px;
    text-align: center;
    color: black;
    background-color: white;
}

#click-show {
}

img {
    height: 65vh;
    width: auto;
    max-height: 65vh;
}

.target {
    font-size: 35px;
}
